<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="model.showWebsites()"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Pages</a>
                <p class="navbar-text pull-right">
                    <a ng-click="model.newPage()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div ng-include="'views/page/templates/page-list.component.client.html'"></div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="navbar-header navbar-right">
                    <p class="navbar-text pull-right">
                        <a ng_click="model.loadUserProfile()" class="navbar-link"> <span
                                class="white glyphicon glyphicon-user pull-right"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
</div>
